/* primary button */
.primary-btn{
  border-radius: 8px;
  background: #F85559;
  padding: 20px 30px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
/* site larg title */
.main-title{
  color: #121212;
  font-size: 48px;
  font-weight: 800;
}
.sub-title{
  color: rgba(18, 18, 18, 0.60);
  font-size: 16px;
  font-weight: 500;
}
.border-full{
  border-radius: 600px !important;
  -webkit-border-radius: 600px !important;
  -moz-border-radius: 600px !important;
  -ms-border-radius: 600px !important;
  -o-border-radius: 600px !important;
}
